body {
    text-align: center;
}

.js-celebration {
    background-image: url(images/celebration.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.js-noCelebration {
    background-image: none;
}

.choice-button {
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: rgb(135, 222, 135);
    border-radius: 50px;
    cursor: pointer;
}

.choice-image {
    height: 75px;
}